@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-color-base-100: theme(colors.base-100);
    --tw-color-base-200: theme(colors.base-200);
    --tw-color-base-300: theme(colors.base-300);
    --tw-color-base-content: theme(colors.base-content);
    --tw-color-primary: theme(colors.primary);
    --tw-color-secondary: theme(colors.secondary);
    --tw-color-accent: theme(colors.accent);
    --tw-color-neutral: theme(colors.neutral);
    --tw-color-warning: theme(colors.warning);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--tw-color-accent, #323232);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tw-color-neutral, #757575);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tw-color-base, #848484);
}


.glow-overlay {
  --glow-size: 25rem;

  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
      var(--glow-color) 1%,
      transparent 50%);
  transition: 400ms mask ease;
  will-change: mask;
}

@layer utilities {
  .f-center {
    @apply flex justify-center items-center;
  }

  .error-text {
    @apply text-red-500/80 !text-sm p-3 bg-red-900/30 rounded visible transition ease-in duration-300;
  }

  .avatar-online {
    @apply [_&.online::before]:size-2 [_&.online::before]:bg-green-500
  }

  .avatar-offline {
    @apply [_&.offline::before]:size-2 [_&.offline::before]:bg-gray-400
  }
}