@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #323232;
  width: 100%;
  height: 100%; */
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323232;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #848484;
}

.glow-overlay {
  --glow-size: 25rem;

  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
      var(--glow-color) 1%,
      transparent 50%);
  transition: 400ms mask ease;
  will-change: mask;
}

@layer utilities {
  .f-center {
    @apply flex justify-center items-center;
  }

  .error-text {
    @apply text-red-500/80 !text-sm p-3 bg-red-900/30 rounded visible transition ease-in duration-300;
  }
}