@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-color-base-100: theme(colors.base-100);
    --tw-color-base-200: theme(colors.base-200);
    --tw-color-base-300: theme(colors.base-300);
    --tw-color-base-content: theme(colors.base-content);
    --tw-color-primary: theme(colors.primary);
    --tw-color-secondary: theme(colors.secondary);
    --tw-color-accent: theme(colors.accent);
    --tw-color-neutral: theme(colors.neutral);
    --tw-color-warning: theme(colors.warning);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- Scrollbar -- */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--tw-color-accent, #323232);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tw-color-neutral, #757575);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--tw-color-base, #848484);
}

/* -- End of Scrollbar -- */

/* -- Glow Overlay -- */
.glow-overlay {
  --glow-size: 25rem;
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
      var(--glow-color) 1%,
      transparent 50%);
  transition: 400ms mask ease;
  will-change: mask;
}

/* -- End of Glow Overlay -- */

/* -- Modals -- */
.dialog-overlay {
  transition: all 1s linear !important;
}

.dialog-overlay[data-state="open"] {
  opacity: 1;
}

.dialog-overlay[data-state="closed"] {
  opacity: 0;
}

.dialog-content {
  transition: all 1s ease-in-out !important;
}

.dialog-content[data-state="open"] {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.dialog-content[data-state="closed"] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
}

/* -- End of Modals -- */

@layer utilities {
  .f-center {
    @apply flex justify-center items-center;
  }

  .error-text {
    @apply text-red-500/80 !text-sm p-3 bg-red-900/30 rounded visible transition ease-in duration-300;
  }

  .avatar-online {
    @apply [_&.online::before]:size-2 [_&.online::before]:bg-green-500;
  }

  .avatar-offline {
    @apply [_&.offline::before]:size-2 [_&.offline::before]:bg-gray-400;
  }

  /* -- Chat List Sidebar -- */
  .chat-list-user {
    @apply p-3 rounded cursor-pointer transition-all justify-between flex flex-row-reverse;
  }

  .chat-list-user__selected {
    @apply bg-primary text-primary-content;
  }

  .chat-list-user__default {
    @apply hover:bg-base-300 bg-base-100;
  }

  .chat-list-user__indicator {
    @apply indicator-item badge badge-sm rounded-full size-full -right-2 animate-pulse;
  }

  /* -- End of Chat List Sidebar -- */

  /* -- Games -- */
  .tic-tac-toe-square {
    @apply f-center m-[0.5px] size-20 sm:size-24 border rounded border-base-300 shadow-primary-content/25 shadow text-5xl font-bold transition-colors disabled:cursor-not-allowed;
  }

  /* -- End of Games -- */
}